{% comment %}
    Renders a pagination bar

    Accepts:
    - paginate: {Object} Paginate Liquid object (required)

    Usage:
    {% include 'pagination', paginate: paginate %}
{% endcomment %}
<ul class="list--inline pagination">

  {% if paginate.previous.is_link %}
    <li>
      <a href="{{ paginate.previous.url }}">
        {% include 'icon-arrow-left' %}
        <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
      </a>
    </li>
  {% endif %}

  {% for item in paginate.parts %}
  
    {% if forloop.index0 < 5 %}

      <li class="pagination__text">
        {% if item.is_link %}
          <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
            <span class="{% if paginate.current_page == item.title %}current-item{% endif %}">{{ item.title }}</span>
        {% endif %}
      </li>
      
    {% endif %}
    
  {% endfor %}

  {% if paginate.next.is_link %}
    <li>
      <a href="{{ paginate.next.url }}">
        {% include 'icon-arrow-right' %}
        <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
      </a>
    </li>
  {% endif %}


</ul>
